<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1> {{ title }} </h1>
    {{ contents }}
    <h2>Blog Roll</h2>
    <ul>
    {{#each collections.articles}}
      <li>
        <h3>{{ this.title }}</h3>
        <p>{{ this.blurb }}</p>
      </li>
    {{/each}}
    </ul>
  </body>
</html>

